:root {
  --bg: #161616;
  --bg-2: #0a0a0a;
  --bg-3: #181717;
  --text-main: #e6f1ff;
  --first: #888;
  --color-1: #aaa;
  --color-2: #555;
  --color-3: #666;
  --color-destaque: #2dff50;
  --border-nav: rgba(255, 255, 255, 0.3);
  --boxshadow: rgba(255, 148, 228, 0.1);
  --fullstack: #61dafbaa;
  --text-secondary: #8892b0;
  --font-heading: Manrope, sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

[data-theme="light"] {
  --bg: #ffffffec;
  --bg-2: #929292;
  --bg-3: #ffffffe7;
  --text-main: #252627;
  --first: #5e5c5c;
  --color-1: #2b2a2a;
  --color-2: #1d1b1b;
  --color-3: #0e0e0e;
  --color-destaque: #4e0b45;
  --border-nav: rgba(0, 0, 0, 0.3);
  --boxshadow: rgba(255, 148, 228, 0.336);
  --fullstack: #03576eaa;
  --text-secondary: #3c3c41;

  #in-icon {
    filter: invert(1);
    opacity: 0.8;
  }

  #__card {
    border: 1px solid rgba(24, 22, 22, 0.274);
    padding-left: 10px;
  }
}

* {
  box-sizing: border-box;
  user-select: none;
  font-family: Poppins;
  transition: background 0.3s ease-in-out;
  scrollbar-color: #4e0b45 transparent;
  scrollbar-width: thin;
}


html {
  scroll-behavior: smooth;
}

.titulos {
  font-family: var(--font-heading);
  font-weight: 200;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

#_3-dashs {
  width: 60px;
  height: 60px;
  background: url('./assets/imagens/3-dashs.webp');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 25px;
  top: 25px;
  transform: rotate(13deg);


}

#h3-stacks {
  color: var(--text-main);
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.233);
}

#root {
  max-width: 1280px;
  text-align: center;
}

.imgs-port {
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.1);
  ;
}

#in-icon {
  background: url('./assets/imagens/linkedin-161-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.hero {
  width: 100vw;
  margin: auto auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

header {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

#box-principal {
  justify-self: start;
}



h1#h1-first {
  color: var(--first);
  display: flex;
  font-size: 7rem;
  font-weight: 900;
  transform-origin: center center;
}

#name {
  color: var(--color-1);
  font-family: 'Trebuchet MS';
  text-align: left;
  margin-bottom: 5px;
  font-size: 3rem;
}

#saudação {
  position: relative;
}

#box-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  padding-left: 4px;
  align-items: center;
}


#box-arrow {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#arrow-svg {
  background: url('./assets/imagens/arrow.svg');
  width: 40px;
  height: 40px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

#p-arrow {
  color: var(--color-1);
  font-size: 1.1rem;
  font-weight: 400;
}

#logo {
  background: url('./assets/imagens/dd.png');
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

#pp {
  color: var(--fullstack);
  font-size: 1.2rem;
  text-align: left;
  padding-left: 20px;
  display: block;
  width: fit-content;
  box-sizing: border-box;
  line-height: 1;
  padding-left: 6px;
  position: relative;
  bottom: 20px;

}

.next-section {
  height: 80dvh;
  min-height: 1080px;
  max-height: 1080px;
  background-color: #0a0a0a;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
}

.next-section-projetos {
  height: 80dvh;
  min-height: 1080px;
  max-height: 1080px;
  width: 100dvw;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  z-index: 5;
  position: relative;
  z-index: 1;
}

.next-section-sobre {
  height: 80dvh;
  max-height: 1080px;
  min-height: 768px;
  max-width: 1680px;
  margin: 0 auto;
  background-color: var(--bg-3);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
}

#box-next-section-sobre {
  background-color: var(--bg-3);
  width: 100vw;
  max-height: 1080px;
  min-height: 768px;
}

.next-section-contato {
  height: 100%;
  width: 80%;
  min-height: 670px;
  max-width: 1680px;
  max-height: 1280px;
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 30px;
  padding: 2rem 2rem;
  z-index: 5;
}

.next-section-contato h6 {
  position: relative;
}

.next-section-contato-box {
  width: 100vw;
  height: 80dvh;
  max-height: 1280px;
  min-height: 670px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  background-color: var(--bg-2);
}

.lista-ctt {
  display: flex;
  flex-direction: row;
  align-items: end;
  height: auto;
}

.li-ctt {
  border-radius: 50%;
  background-color: #ffffff1a;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  display: inline-block !important;
  vertical-align: middle !important;
  white-space: normal !important;
  position: relative !important;
  margin: 0;
  padding: 0;
}

#first {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

/* App.css */
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-2);
  overflow-x: hidden;
}

/* Container da seção de Zoom */
.zoom-hero {
  max-width: 1800px;
  min-height: 652px;
  max-height: 1080px;
  width: 89vw;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#000 #0a0718);
  overflow: hidden;
  position: relative;
}

.app-container {
  background-color: var(--bg);
  /* background: radial-gradient(#1a1919a9, #05060e, #08021f); */
  width: 100vw;
  min-height: 1080px;

}


#navbar {
  color: var(--color-2);
  border: 1px solid var(--border-nav);
  background-color: rgba(255, 255, 255, 0.041);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px var(--boxshadow);
  width: 56vw;
  max-width: 710px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  border-radius: 30px;
  margin-top: 20px;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;


}

#box-contato {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#__card {
  border: 1px solid #ffffff2a;

}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

li.li-nav {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-main);

  position: relative;
  padding-bottom: 5px;
}

li.li-nav::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-destaque);
  transition: width 0.3s ease-in-out;
}

li.li-nav:hover::after {
  width: 100%;
}

li.li-nav:hover {
  color: var(--color-1);
  transition: color 0.3s ease;
}

.li-stacks {
  transition: transform .2s ease-in-out;
  cursor: pointer;
}

.li-stacks:hover {
  transform: scale(1.11);
}

#btn-linkedin,
#btn-github {
  box-shadow: 4px 4px 40px var(--boxshadow);
  border: 1px solid var(--border-nav);
  color: var(--text-main);
  background: transparent;
  backdrop-filter: blur(10px);
}

#eu {
  background: url('./assets/imagens/Erick-_1_.webp');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 10%;

}

#js {
  background: url('./assets/imagens/js.webp');
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 55px;
  right: -40px;
  background-size: contain;
  background-repeat: no-repeat;
}

#js-s {
  background: url('./assets/imagens/js.webp');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

#css {
  background: url('./assets/imagens/css-3.webp');
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 55px;
  right: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

#css-s {
  background: url('./assets/imagens/css-3.webp');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

#html {
  background: url('./assets/imagens/html.png');
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 35px;
  right: 45px;
  background-size: contain;
  background-repeat: no-repeat;
}

#html-s {
  background: url('./assets/imagens/html.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.background-stacks {
  width: 50px;
  height: 50px;
  background-color: #acababa4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

}

#node {
  background: url('./assets/imagens/node-js.webp');
  width: 30px;
  height: 30px;
  position: relative;
  top: 35px;
  left: 215px;
  background-size: contain;
  background-repeat: no-repeat;
}

#node-s {
  background: url('./assets/imagens/node-js.webp');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

#mongodb {
  background: url('./assets/imagens/mongodb-svgrepo-com.svg');
  width: 30px;
  height: 30px;
  position: relative;
  top: 45px;
  left: 190px;
  background-size: contain;
  background-repeat: no-repeat;
}

#mongo-s {
  background: url('./assets/imagens/mongodb-svgrepo-com.svg');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

#express {
  background: url('./assets/imagens/react.svg');
  width: 40px;
  height: 40px;
  position: relative;
  top: 45px;
  left: 145px;
  background-size: contain;
  background-repeat: no-repeat;
}

#react-s {
  background: url('./assets/imagens/react.svg');
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.parallax-layer {
  position: absolute;
  will-change: transform;
  /* Otimiza a performance para animação */
  transition: transform 0.1s ease-out;
  /* Suaviza o movimento do mouse */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* A próxima seção */
.next-section {
  height: 80dvh;
  max-height: 1080px;
  background-color: var(--bg-2);
  color: var(--text-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
  /* Fica "atrás" do hero */
}

#img-box-sobre {
  background: url('./assets/imagens/Erick-_1_.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 480px;
  margin: 0 20px;
  box-shadow: 4px 4px 40px rgba(151, 240, 133, 0.116);
}

.carrosel-item {
  /* background: linear-gradient(90deg, #00000000, #01040a7c);
   */
  background-color: #ffffff00;
  backdrop-filter: blur(1px);
}

#boneco-sentado {
  background: url('./assets/imagens/boneco-sentado.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 106px;
  right: 95px;
}

#boneco-voando {
  background: url('./assets/imagens/boneco-voando.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 160px;
  left: 170px;
}

#boneco-encostado {
  background: url('./assets/imagens/boneco-encostado.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  right: 210px;
}

#boneco-apontando {
  background: url('./assets/imagens/boneco-apontando.webp');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 250px;
  margin: 0 auto;
  position: absolute;
  right: 50%;
  bottom: 23px;
  transform: translateX(50%);
}

#dedsec {
  background: url('./assets/imagens/dedsec.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  left: 120px;
}

#h-sobre {
  color: var(--color-destaque);
  font-weight: 700;
  text-transform: capitalize;
  font-family: Poppins;
  text-shadow: 2px 2px 10px rgba(241, 241, 241, 0.158);
}

.p-sobre {
  color: var(--color-1);
  text-align: left;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}


.education-section {
  padding: 4rem 2rem;
  max-width: 1680px;
  margin: 0 auto;
  max-height: 1080px;
  color: var(--text-main);
}

.section-title {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: left;
}

.highlight-text {
  color: var(--color-1);
}

/* O GRID MÁGICO */
.education-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}


.edu-card {
  background-color: var(--bg-2);
  border: 1px solid #222;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.edu-card:hover {
  border-color: var(--color-destaque);
  transform: translateY(-5px);
  box-shadow: 0 10px 30px -10px rgba(97, 218, 251, 0.15);
}


.course-type {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-3);
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.course-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.5rem 0;
  color: var(--text-main);
  line-height: 1.4;
}

.course-institution {
  font-size: 0.95rem;
  color: var(--color-1);
  margin-bottom: 1.5rem;
}

.card-footer {
  margin-top: auto;
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
  color: var(--color-2);
  font-family: monospace;
}

footer {
  background-color: var(--bg-2);
  color: var(--color-1);
}

.toggle-theme,
.toggle-language {
  background-color: transparent;
  border: 1px solid var(--border-nav);
  box-shadow: 4px 4px 40px var(--boxshadow);
  color: var(--text-main);
  font-weight: 300;
  backdrop-filter: blur(8px);
}

.card-desc {
  color: var(--text-secondary);
}

.card-title {
  color: var(--text-main);
}


@media (min-width: 768px) {
  .featured-card {
    grid-column: span 2;
    background: linear-gradient(145deg, var(--bg), var(--bg-2));
    border-color: var(--color-2);
  }

  .featured-card .course-title {
    font-size: 1.8rem;
  }

}

@media (max-width: 600px) {
  .education-section {
    padding: 2rem 1rem;
  }

  .section-title {
    font-size: 2.4rem;
    margin-top: 30px;
  }

  #box-contato {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 0;
    left: 0;
    align-self: center;
    margin: 0;
  }

  #box-contato h6 {
    padding: 0;
  }

  .lista-ctt {
    padding: 0;
  }

  .next-section-contato {
    padding: 10px 20px;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 500px) {
  #li-contato {
    display: none;
  }

  #navbar {
    width: 200px;
  }

  #btn-linkedin,
  #btn-github {
    width: 130px;
  }

  #h1-first {
    margin-top: 10px;
  }

  #pp {
    font-size: 14px;
    bottom: 12px;
  }

  #img-box-sobre {
    transform: scale(.9);
  }

  /* #stacks > :nth-last-child(-n + 1){
    flex-basis: 100%;
  } */
  #stacks {
    flex-wrap: wrap;
  }

  .next-section {
    min-height: 768px;
  }

  .next-section-sobre {
    padding: 10px 20px;
  }

  #text-box-sobre {
    padding: 0;
  }
}

@media (max-width: 376px) {

  .toggle-language,
  .toggle-theme {
    display: none;
  }
}

@media (max-width: 1024px) {
  #name {
    font-size: 2.1rem;
  }

  #box-contato {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 0;
    left: 0;
    align-self: center;
    margin: 0;
  }

  #box-contato h6 {
    padding: 0;
  }

  .lista-ctt {
    padding: 0;
  }

  #h1-first {
    font-size: 2.3rem !important;
  }

  .section-title {
    font-size: 3.4rem;
  }

  .icons-eu,
  #eu,
  #logo {
    display: none !important;
  }

  .li-nav {
    font-size: 12px;
  }

  .toggle-language,
  .toggle-theme {
    font-size: 12px;
    padding: 2px 8px;
    gap: 10px;
  }

  .toggle-language {
    right: 16px;
  }

  .toggle-theme {
    left: 16px;
  }

  #card-img {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 500px;
    min-width: 70%;
  }

  #box-texto-card {
    padding-right: 0;
    margin-right: 0;
  }

  #box-sobre {
    flex-direction: column;
  }

  #text-box-sobre {
    width: 80%;
  }

  #img-box-sobre {
    scale: .85;
    margin-top: 36px;
  }

  #_3-dashs {
    display: none;
  }

  .box-.next-section-sobre,
  .next-section-sobre,
  .education-section {
    max-height: none;
    min-height: none;
    height: 100%;
  }

  .box-.next-section-sobre,
  .next-section-sobre {
    max-height: 1115px;
  }
}

@media (max-width: 1279px) {
  #boneco-apontando {
    display: none;
  }

}