*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
#root {
  max-width: 1280px;
  text-align: center;
}

.hero{
  width: 100vw;
  margin: auto auto;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

header{
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

#box-principal{
  justify-self: start;
}
nav{
  align-self: start;
  display: flex;
  flex-flow: row nowrap;
  justify-self: center;
  width: auto;
}
h1#h1-first{
  color: #888;
  display: flex;
  font-size: 7rem;
  font-weight: 900;
  transform-origin: center center;
}
#pp {
  color: #61dafbaa;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 20px; 
  display: block;
  width: fit-content;
  box-sizing: border-box;
  line-height: 1; 
  padding-left: 10px;
}
.next-section {
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5; /* Fica "atrás" do hero */
}

.word {
  display: inline-block !important; 
  vertical-align: middle !important;
  white-space: normal !important; 
  position: relative !important;
  margin: 0;
  padding: 0;
}
#first{
  display: flex;
  flex-direction: column;
  gap: 11px;
}

/* App.css */
html, body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a; /* Cor de fundo geral */
  overflow-x: hidden; /* Prevenção extra contra scroll lateral */
}

/* Container da seção de Zoom */
.zoom-hero {
  width: 89vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #15151b; */
  background: radial-gradient(#000 #0a0718);
  overflow: hidden;
  position: relative;
}

.app-container{
  /* background-color: #15151b; */
  background: radial-gradient(#1a1919a9, #010103, #0b0b1f);
  width: 100vw; 
}


#navbar{
  color: #acbdc2dc;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.041);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 56vw;
  height: 48px;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  border-radius: 30px;
  margin-top: 20px;
}
ul{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
#eu{
  background: url('imagens/Erick.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid ;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  top: 1px;
}

/* A próxima seção */
.next-section {
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5; /* Fica "atrás" do hero */
}

.next-section h2 {
  font-size: 3rem;
  color: #61dafbaa;
}