:root {
  --bg-dark: #020c1b;
  --bg-light: #0a192f;
  --primary: #64ffda;
  --gold: #D4AF37;
  --text-main: #e6f1ff;
  --text-secondary: #8892b0;
  --font-heading: Manrope, sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  user-select: none;
  font-family: Poppins;
}
.titulos{
  font-family: var(--font-heading);
  font-weight: 200;
}
#root {
  max-width: 1280px;
  text-align: center;
}

.hero {
  width: 100vw;
  margin: auto auto;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

header {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

#box-principal {
  justify-self: start;
}



h1#h1-first {
  color: #888;
  display: flex;
  font-size: 7rem;
  font-weight: 900;
  transform-origin: center center;
}

#name {
  color: #517ba3;
  font-family: 'Trebuchet MS';
  text-align: left;
  margin-bottom: 20px;
  font-size: 3rem;
}

#saudação {
  position: relative;
}

#box-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
}

#first-button {
  position: relative;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  padding: 0;
  border-radius: 23px;
  cursor: pointer;
}

#first-button:focus {
  border: none;
}

#first-button>span {
  border-radius: 23px;
  display: block;
  background: linear-gradient(120deg, #08142b, #28c1fd, #1e1b38);
  background-size: 400% 400%;
  -moz-animation: gradient 3s ease-in-out infinite;
  -webkit-animation: gradient 3s ease-in-out infinite;
  animation: gradient 3s ease-in-out infinite;
  color: #fff;
  padding: 12px 55px;
  font-size: 16px;
  font-weight: 600;
}

@keyframes gradient {
  0% {
    background-position: 14% 0%;
  }

  50% {
    background-position: 87% 100%;
  }

  100% {
    background-position: 14% 0%;
  }
}

#box-arrow {
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#arrow-svg {
  background: url('imagens/arrow.svg');
  width: 40px;
  height: 40px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
}

#p-arrow {
  color: #acbdc2dc;
  font-size: 1.1rem;
  font-weight: 700;
}

#pp {
  color: #61dafbaa;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 20px;
  display: block;
  width: fit-content;
  box-sizing: border-box;
  line-height: 1;
  padding-left: 10px;
}

.next-section {
  min-height: 80vh;
  max-height: 1000px;
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
}

.next-section-projetos {
  min-height: 80vh;
  max-height: 1000px;
  width: 100dvw;
  background: radial-gradient(circle, #202227, #0c0c16);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
  position: relative;
  z-index: 1;
}

.next-section-sobre {
  min-height: 80vh;
  max-height: 1000px;
  background-color: #181717;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
}

.word {
  display: inline-block !important;
  vertical-align: middle !important;
  white-space: normal !important;
  position: relative !important;
  margin: 0;
  padding: 0;
}

#first {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

/* App.css */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  /* Cor de fundo geral */
  overflow-x: hidden;
  /* Prevenção extra contra scroll lateral */
}

/* Container da seção de Zoom */
.zoom-hero {
  max-width: 1800px;
  width: 89vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #15151b; */
  background: radial-gradient(#000 #0a0718);
  overflow: hidden;
  position: relative;
}

.app-container {
  /* background-color: #15151b; */
  background: radial-gradient(#1a1919a9, #010103, #0b0b1f);
  width: 100vw;
}


#navbar {
  color: #acbdc2dc;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.041);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 56vw;
  height: 48px;
  display: none;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  border-radius: 30px;
  margin-top: 20px;

}

ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#eu {
  background: url('imagens/Erick.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 10%;

}

#js {
  background: url('imagens/js.png');
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 55px;
  right: -40px;
  background-size: contain;
  background-repeat: no-repeat;
}

#js-s {
  background: url('imagens/js.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

#css {
  background: url('imagens/css-3.png');
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 55px;
  right: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

#css-s {
  background: url('imagens/css-3.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

#html {
  background: url('imagens/html.png');
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 35px;
  right: 45px;
  background-size: contain;
  background-repeat: no-repeat;
}

#html-s {
  background: url('imagens/html.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.background-stacks {
  width: 50px;
  height: 50px;
  background-color: #acababa4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

}

#node {
  background: url('imagens/node-js.png');
  width: 30px;
  height: 30px;
  position: relative;
  top: 35px;
  left: 215px;
  background-size: contain;
  background-repeat: no-repeat;
}

#node-s {
  background: url('imagens/node-js.png');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

#mongodb {
  background: url('imagens/mongodb-svgrepo-com.svg');
  width: 30px;
  height: 30px;
  position: relative;
  top: 45px;
  left: 190px;
  background-size: contain;
  background-repeat: no-repeat;
}

#mongo-s {
  background: url('imagens/mongodb-svgrepo-com.svg');
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

#express {
  background: url('imagens/react.svg');
  width: 40px;
  height: 40px;
  position: relative;
  top: 45px;
  left: 145px;
  background-size: contain;
  background-repeat: no-repeat;
}

#react-s {
  background: url('imagens/react.svg');
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.parallax-layer {
  position: absolute;
  will-change: transform;
  /* Otimiza a performance para animação */
  transition: transform 0.1s ease-out;
  /* Suaviza o movimento do mouse */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* A próxima seção */
.next-section {
  min-height: 100vh;
  background-color: #0a0a0a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  z-index: 5;
  /* Fica "atrás" do hero */
}

#img-box-sobre {
  background: url('imagens/Erick.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 480px;
  margin: 0 20px;
  box-shadow: 4px 4px 40px rgba(151, 240, 133, 0.116);
}

.carrosel-item {
  /* background: linear-gradient(90deg, #00000000, #01040a7c);
   */
  background-color: #ffffff00;
  backdrop-filter: blur(1px);
}
#boneco-sentado {
  background: url('imagens/boneco-sentado.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 106px;
  right: 95px;
}

#boneco-voando {
  background: url('imagens/boneco-voando.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 160px;
  left: 170px;
}
#boneco-encostado {
  background: url('imagens/boneco-encostado.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  right: 210px;
}
#dedsec {
  background: url('imagens/dedsec.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
  bottom: 40px;
  left: 120px;
}
#h-sobre{
  color: #2dff50;
  font-weight: 700;
  text-transform: capitalize;
  font-family: Poppins;
  text-shadow: 2px 2px 10px rgba(241, 241, 241, 0.158) ;
}
.p-sobre{
  color: #f0ebebcc;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.2) ;
  margin: 20px 0;
}
